@using System.Web.Mvc.Html
@using EPiServer.Web.Mvc.Html
@model Playground.Features.Plugins.GetPagesOfTypePlugin.ViewModels.GetPagesOfTypeViewModel

@{
    Layout = null;
}

<div style="margin-left: 2rem; padding: 1rem; font-family: sans-serif">
    <h1>Get pages of type</h1>
    @if (Model.PageTypes != null && Model.PageTypes.Count > 0)
    {
        <table cols="12" style="margin-bottom: 2rem;">
            <thead>
            <tr style="text-align: left;">
                <th colspan="4">Name</th>
                <th colspan="4">Display name</th>
                <th colspan="2">Available</th>
                <th colspan="2">Choose</th>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < Model.PageTypes.Count; i++)
            {
                var pageType = Model.PageTypes[i];
                <tr style="text-align: left;">
                    <td colspan="4">
                        @pageType.Name
                    </td>
                    <td colspan="4">
                        @pageType.DisplayName
                    </td>
                    <td colspan="2">
                        @pageType.Available.ToString()
                    </td>
                    <td colspan="2">
                        @using (Html.BeginForm(null, null, FormMethod.Post))
                        {
                            <input type="radio" checked="@pageType.Checked" value="@pageType.ID" name="pageID" />
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

    @if (Model.Pages != null && Model.Pages.Count > 0)
    {
        <div style="
        font-family: sans-serif;
        padding: 1rem;
        width: fit-content;
        border: 1px solid grey;
        box-shadow: grey 0 0 2px 0">
            <h2>A total of @Model.Pages.Count pages exists of page-type @Model.PageType</h2>
            @foreach (var page in Model.Pages)
            {
                <ul style="list-style: none; display: flex; justify-content: space-between;">
                    <li>@(page.Name) (@(page.Language.Name))</li>
                    <li>
                        <a href="@Url.ContentUrl(page.Url)" target="_blank">Link to content</a>
                    </li>
                </ul>
            }
        </div>
    }
</div>

<script type="text/javascript">
(function() {
    const radios = document.querySelectorAll('[name="pageID"]');
    if (radios.length) {
        radios.forEach(radio => {
            radio.addEventListener('click', function() {
                radio.form.submit();
            });
        });
    }
})();
</script>